CONFIG_ARM=y
CONFIG_TARGET_JZ2440=y
CONFIG_BOOTDELAY=5
# CONFIG_SYS_STDIO_DEREGISTER is not set
#CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="JZ2440 # "

CONFIG_DISPLAY_BOARDINFO=y
CONFIG_DISPLAY_BOARDINFO_LATE=y

CONFIG_S3C24X0_SERIAL=y
CONFIG_MTD_NOR_FLASH=y


CONFIG_CMD_USB=n
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_DHCP=n
CONFIG_CMD_PING=n
CONFIG_CMD_CACHE=n
CONFIG_CMD_EXT2=n
CONFIG_CMD_FAT=n
CONFIG_CMD_UBI=n
CONFIG_USB=n
CONFIG_USB_STORAGE=n
CONFIG_USB_KEYBOARD=n

CONFIG_USB_HOST=n
CONFIG_DOS_PARTITION=n

CONFIG_USB_EHCI=n
CONFIG_USB_OHCI=n

CONFIG_YAFFS2=n
CONFIG_CMD_XIMG=n
CONFIG_CMD_NET=n
CONFIG_CMD_ITEST=n
CONFIG_CMD_SOURCE=n
CONFIG_CMD_ELF=n
CONFIG_EFI_STUB=n
CONFIG_CMD_FLASH=n
CONFIG_CMD_LOADB=n
CONFIG_CMD_LOADS=n
CONFIG_CMD_MEMORY=n
CONFIG_CMD_ECHO=n
CONFIG_CMD_BDI=n
CONFIG_CMD_CONSOLE=n